- name: Including distribution-specific packages
  include_vars: "{{ ansible_os_family | lower }}.yml"

- name: Refreshing APT cache
  become: yes
  ansible.builtin.apt:
    update_cache: yes
  when:
    - ansible_os_family == "Debian"

- name: Upgrading all installed packages
  become: yes
  ansible.builtin.package:
    name: '*'
    state: latest
  when:
    - sp_upgrade_os | bool

- name: Upgrading ca-certificates package to the latest version
  become: yes
  ansible.builtin.package:
    name: ca-certificates
    state: latest
  when:
    - not sp_upgrade_os | bool

- name: Installing EPEL repository on RHEL-like distributions
  become: yes
  ansible.builtin.yum:
    name: epel-release
    state: present
  when:
    - ansible_os_family == "RedHat"
    - ansible_distribution != "RedHat"

- name: Installing software dependencies
  become: yes
  ansible.builtin.package:
    name: "{{ common_packages + distribution_packages + lookup('vars', ansible_distribution|lower + '_' + ansible_distribution_major_version + '_packages') }}"
    state: present

- name: Generating /etc/rc.local
  become: yes
  ansible.builtin.template:
    src: rc.local.j2
    dest: /etc/rc.local
    mode: 0755

- name: Adding shmfs entry in fstab
  become: yes
  ansible.builtin.mount:
    name: /dev/shm
    src: none
    fstype: tmpfs
    opts: "size=90%,nosuid,nodev,noauto"
    state: mounted

- name: Disabling swap
  become: true
  ansible.builtin.command: swapoff -a
  when:
    - ansible_swaptotal_mb > 0

- name: Removing swap entry from fstab
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/fstab
    regexp: " swap "
    state: absent

- name: Limiting journald memory to 64M
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/systemd/journald.conf
    regexp: RuntimeMaxUse=
    line: RuntimeMaxUse=64M
    insertbefore: RuntimeKeepFree
  notify: Restart journald service

- name: Enabling requried services
  become: yes
  ansible.builtin.systemd:
    name: "{{ service_name }}"
    enabled: true
    state: started
  loop_control:
    loop_var: service_name
  loop:
    - lldpd.service
    - chronyd.service

- name: Disabling generic services
  become: yes
  ansible.builtin.systemd:
    name: "{{ service_name }}"
    enabled: false
    state: stopped
  loop_control:
    loop_var: service_name
  loop:
    - irqbalance.service

- name: Performing distribution-specific tasks
  include_tasks: "tune_{{ ansible_os_family | lower }}.yml"
